header{
    height: 250px;
    background-color: #faede3;
    color: #707070;

    .l-header__top{
        display: flex;
        justify-content: space-between;
    }
    h1{
        padding:50px 50px 50px 150px;
        font-size: 4rem;
    }
    p{
        font-size: 2rem;
        font-weight: bolder;
        padding: 10px 10px;
    }
    form{
        height: 50px;
        
        .submit{
            margin-left:370px;
            padding: 10px 20px;
            border: 1px solid;
            border-radius: 10px;
            background-color: #ddd6d1;
            font-size: 1.9rem;
        }
    }
}