header{
    height: 300px;
    background-color: #faede3;
    color: #707070;

    .l-header__top{
        display: flex;
        justify-content: space-between;
    }
    h1{
        padding: 8% 0 10% 25%;
        font-size: 4rem;
    }
    p{
        padding: 20px;
        font-size: 2rem;
        font-weight: bolder;
    }
    form{
        padding-left: 10%;
        font-size: 2.5rem;
        .search{
            border-radius: 10px;
            color: #707070;
            background-color: #fff;
            padding:0;
        }
        .search::before{
            content: '';
            background-image: url(../image/search.png);
            width: 20px;
            height: 20px;
        }
        .submit{
            margin-left: 5px;
            padding: 10px 20px;
            border: 1px solid;
            border-radius: 10px;
            background-color: #ddd6d1;
            font-size: 1.9rem;
        }
    }
}